@{
    Layout = "_Layout";
}

<main class="container">

    @section Styles
    {
        @await RenderSectionAsync("Styles", false)
    }

    @RenderBody()

    @section Scripts
    {
        @await RenderSectionAsync("Scripts", false)
    }

</main>