@{
    Layout = "_Layout";
}
<main class="container">
    @RenderBody()
</main>

@section Scripts
{
    @await RenderSectionAsync("Scripts", false)
}
@section Styles
{
    @await RenderSectionAsync("Styles", false)
}