<div class="panel-group category-products">
    <div class="panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a asp-action="Index">Profile</a>
            </h4>
        </div>
        <div class="panel-heading">
            <h4 class="panel-title">
                <a asp-action="Orders">Orders</a>
            </h4>
        </div>
    </div>
</div>