@model WebStore.ViewModels.EmployeeViewModel

@{
    ViewData["Title"] = "EditEmployeeCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee Card</h1>

<div class="container">
    <h4>Employee</h4>
    <hr/>
    <form asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.Id">
        <table class="table">
            <thead>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Возраст</th>
                <th>Зарплата</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="text" asp-for="LastName" class="table"></input>
                </td>
                <td>
                    <input type="text" asp-for="Name" class="table"></input>
                </td>
                <td>
                    <input type="text" asp-for="Patronymic" class="table"></input>
                </td>
                <td>
                    <input type="number" asp-for="Age" class="table"></input>
                </td>
                <td>
                    <input type="number" asp-for="Income" class="table"></input>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-default"/>
        </div>
    </form>
</div>
<div>
    <a asp-controller="Employee" asp-action="Index">Назад к сотрудникам</a>
</div>
