@model IEnumerable<WebStore.Models.Employee>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Фамилия</th>
            <th>Имя</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.SecondName</td>
                <td>@employee.FirstName</td>
                <td>
                    <a asp-controller="Employee" asp-action="EmployeeCard" asp-route-id="@employee.Id">Details</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <a href="/">На главную</a>
</div>