<div class="left-sidebar">
    <h2>Category</h2>

    <vc:sections section-id="@Context.Request.Query["sectionId"]"/>
					
    <vc:brands brand-id="@Context.Request.Query["brandId"]"/>

    <vc:price-range/>
						
    <vc:shipping/>
					
</div>