@model BreadCrumbsViewModel

<div class="breadcrumbs">
    <ol class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li class="active"><a>Shop</a></li>
        @if (Model!.Section is {Id: var childSectionId, Name: var childSectionName} childSection)
        {
            @if (childSection.Parent is {Id: var parentSectionId, Name: var parentSectionName})
            {
                <li>
                    <a asp-controller="Shop" asp-action="Index" asp-route-sectionId="@parentSectionId">
                        @parentSectionName
                    </a>
                </li>
            }
            <li>
                <a asp-controller="Shop" asp-action="Index" asp-route-sectionId="@childSectionId">
                    @childSectionName
                </a>
            </li>
        }
        @if (Model!.Brand is {Id: var brandId, Name: var brandName})
        {
            <li>
                <a asp-controller="Shop" asp-action="Index" asp-route-sectionId="@brandId">
                    @brandName
                </a>
            </li>
        }

        @if (Model.ProductName is {Length: > 0} productName)
        {
            <li><a>@productName</a></li>
        }
    </ol>
</div>